.animations__fireTache {
  z-index: 1;
  position: fixed;
  right: 13.5vw;
  top: 32vh;
  width: 4.5vw;
  z-index: 0;
  @media screen and (max-width: 600px) {
    width: 14vw;
    top: 14vh;
    right: 7.5vw;
  }
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.animations__fire {
  z-index: 1;
  position: fixed;
  right: 13.5vw;
  top: 33vh;
  width: 6vw;
  @media screen and (max-width: 600px) {
    width: 16vw;
    top: 15vh;
    right: 7vw;
    display: none;
  }
}
.animations__objects {
  z-index: 1;
  position: fixed;
  left: 20vw;
  bottom: 0;
  width: 31vw;
  @media screen and (max-width: 1300px) {
    bottom: 0vh;
  }
  @media screen and (max-width: 600px) {
    display: none;
    left: 27vw;
    top: 64vh;
    width: 111vw;
    bottom: unset;
    svg > g > g {
      &:nth-child(1) {
        opacity: 0;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        opacity: 0;
      }
      &:nth-child(4) {
        opacity: 0;
      }
      &:nth-child(5) {
        opacity: 0;
      }
      &:nth-child(6) {
        opacity: 0;
      }
      &:nth-child(7) {
        opacity: 0;
      }
      &:nth-child(8) {
        opacity: 0;
      }
      &:nth-child(9) {
        opacity: 0;
      }
      &:nth-child(10) {
        opacity: 0;
      }
      &:nth-child(11) {
        opacity: 0;
      }
      &:nth-child(12) {
        opacity: 0;
      }
    }
  }
}
.animations__leef {
  z-index: 1;
  position: fixed;
  right: 20vw;
  top: 37vh;
  width: 14vw;
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.animations__guitare {
  z-index: 1;
  position: fixed;
  right: 27vw;
  top: 69vh;
  width: 20vw;
  @media screen and (max-width: 600px) {
    position: absolute;
    right: unset;
    left: 1vw;
    width: 61vw;
    top: 65vh;
  }
}

.animations__vase {
  z-index: 1;
  position: fixed;
  right: 5vw;
  top: 55vh;
  width: 34vh;
  @media screen and (max-width: 600px) {
    position: absolute;
    width: 31vh;
    top: 46vh;
    right: -3vw;
  }
}

.animations__tente {
  z-index: 1;
  position: fixed;
  right: 9vw;
  top: 19vh;
  width: 9vw;
  @media screen and (max-width: 600px) {
    display: none;
  }
}
