@import "../../assets/styles/constants.scss";

.credits__section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20vh 0 0vh;
  padding: 12px 7vw;
  font-size: 0.75rem;
  z-index: 3;
  border-top: 1px solid black;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 7vw 10px;
  }
}
.credits__title {
  list-style: none;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: $PPWoodland;

  @media screen and (max-width: 700px) {
    margin: 0;
  }
}

.credits__list {
  margin: 0;
  width: 100%;
  display: flex;
  @media screen and (max-width: 700px) {
    display: block;
  }
}

.credits__credit {
  list-style: none;
  margin: 0 0px 0px 14px;
  padding: 0;
  @media screen and (max-width: 700px) {
    margin: 0 0 0px 0px;
    width: 50%;
    min-width: 50%;
    flex-basis: 50%;
    display: inline-block;
  }
  &:nth-child(2) {
    flex-grow: 3;
  }
}

.credits__link {
  text-decoration: none;
  color: $color-grey-900;
  font-weight: normal;
}
