@import "../../assets/styles/constants.scss";

.logo {
  position: fixed;
  top: 24px;
  left: 3.5vw !important;
  transform: translate(0%, 0%);
  white-space: nowrap;
  color: black;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: 500;
  font-family: $PPWoodland;
  margin: 0;
  z-index: 12;
  @media screen and (max-width: 935px) {
    font-size: 1.625rem;
    transform: translate(0%, 0);
    top: 2.7vh;
    left: 3.5vw;
  }
}
