@import "../../assets/styles/constants.scss";

.hero {
  width: 100%;
  min-height: 100vh;
  padding: 33vh 0 50vh;
  @media screen and (max-width: 600px) {
    padding: 23vh 0 30vh;
  }
}

.hero__title {
  margin-bottom: 62px;
  font-family: $PPWoodland;
  font-size: 2.75rem;
  font-weight: 500;
  @media screen and (max-width: 600px) {
    font-size: 1.625rem;
    margin-bottom: 32px;
  }
}

.hero__txt {
  font-size: 2.5625rem;
  line-height: 2.85rem;
  width: 100%;
  @media screen and (max-width: 800px) {
    font-size: 1.25rem;
    line-height: 1.533rem;
  }
  p {
    margin-bottom: 30px;
  }
}
