/*
*
* Fonts
*
*/

$objectSans: "ObjectSans", arial, sans-serif;
$PPWoodland: "PP Woodland", times, serif;

/*
*
* Colors
*
*/

$color-main: #a2b4a8;
$color-light: #e5ded3;
$color-grey-900: #000000;
$color-grey-000: #000000;
