@import "../../assets/styles/constants.scss";

.sommaire__section {
  min-height: 100vh;
  margin: 0;
  padding: 18vh 0 30vh;
  text-align: center;
  font-size: 1rem;
  @media screen and (max-width: 600px) {
    padding: 10vh 0 10vh;
  }
}

.sommaire__list {
  margin: 0;
}

.sommaire__item {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 64px;
  padding: 0;
}

.sommaire__date {
  display: block;
  margin-bottom: 16px;
  font-weight: 100;
}

.sommaire__link {
  text-decoration: none;
  color: $color-grey-900;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 1.2;
  &:hover {
    text-decoration: underline;
  }
}
