@import "../../assets/styles/constants.scss";

.article {
  padding: 20vh 0 20vh;
  @media screen and (max-width: 600px) {
    padding: 7vh 0 10vh;
  }
}

.article__txt {
  margin-bottom: 30px;
  font-size: 1.125rem;
  line-height: 1.2;
  @media screen and (max-width: 600px) {
    font-size: 1rem;
    line-height: 1.2;
  }
}
